input{
    padding: 0 15px;
    height: 41px;
    font-size: 17px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 150px;
    width: 100%;
    border: 1px solid rgba(165, 171, 189, 0.4);
    color: #555555;
}

.react-datepicker-wrapper.react-datepicker-wrapper{
    margin-right: 10px;
    margin-bottom: 20px;
}